<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>tp3</title>
	</head>
	<body>
		<header>
		<h1>Bienvenido a Programacion Visual</h1>
		</header>
		<p>Herramientas necesarias para la programacion visual</p>
		<nav>
			<ul>
				<li><a href="https://www.unju.edu.ar">FI unju</a></li>
				<li><a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjLv5nlivqFAxWGXUgAHd1tCoEYABAAGgJjZQ&ase=2&gclid=Cj0KCQjw_-GxBhC1ARIsADGgDjt1dZDtTMSyjIzjTSUBEXAnLY5Lj16nWgG-apBEepfRbfO7yDF3SygaAjdiEALw_wcB&ohost=www.google.com&cid=CAESVeD2HdDxkPvixkOcnWDbPmJ-7nrmv6ol2KUKkn6Cp6BxYKYZ7v8KgrJMrdx7u4Is1KyoFaNt8BVTKIo5QC2KtKhy6acgRMV6umteBT5_2cH2YuTRcro&sig=AOD64_2ccPpd91DuYmoYfvgD12iLi60GXA&q&nis=4&adurl&ved=2ahUKEwiqsJLlivqFAxX-p5UCHRJaBYAQ0Qx6BAgGEAE">Inicio de la pagina spring boot</a></li>
				<li><a href="https://www.java.com/es/">Inicio de la pagina java</a></li>
			</ul>
		</nav>
		
		<main>
			<section id= "inicio">
				<h2>Introduccion a programacion visual </h2>
				<p>Introduccion al contenido de la materia programacion visual, conocimientos basicos de java y programacion
					para el desarollo de codigos en STS a continuacion se vera el contenido de las 3 primeras clases</p>
				<h3>Clases 1, 2 y 3</h3>
				<ol>
					<li>Introduccion a java</li>
					<li>Programacion basica en java</li>
					<li>Uso del list y arraylist</li>
				</ol>
			</section>
			<section id="medio">
				<h2>Introducir las funcionalidades que ofrece Java para la programación funcional </h2>
				<p>continuacion de conocimientos para programar con la herramienta sts</p>
				<h3>Conceptos, clases 4 y 5</h3>
				<ul>
					<li>Programacion funcional</li>
					<li>Interpretación de las expresiones Lambda</li>
					<li>Uso de la clase enumeradosa</li>
				</ul>
			</section>
			<section id="actual">
				<h2>Conceptos basicos de Html</h2>
				<p>Inicio de la programacion basica en html (casle 6)</p>
				<h3>Etiqueta table</h3>
					<table >
  						<tr>
    						<th>prueba de utilizar etiquetas en html</th>
    						<th>utilizando etiqueta table</th>
  						</tr>
  						<tr>
   						 	<td>cada una de estas corresponde a una porcion de la tabla(etiqueta table) en este cazo el lado izquiero</td>
    						<td>y esta porcion corrsponde al lado derecho </td>
  						</tr>
					</table>
			</section>

		</main>
		
		
		<aside>
			<h3>Prueba del aside agregandop una imagen con la etiqueta a</h3>
			<p>Contenido del aside</p>
			<a href="https://www.google.com/search?sca_esv=580b38a03aa9e71a&sxsrf=ADLYWIL07zsuVW3VQ5LLFwETY7BRUeTggA:1715037037329&q=java&tbm=isch&source=lnms&prmd=ivsnbmtz&sa=X&ved=2ahUKEwiVu4vrkvqFAxUBrZUCHVQ9CacQ0pQJegQIGhAB&biw=1360&bih=641&dpr=1">imagenes de java</a>
			<img alt="Imagen de java" src="../static/image/java.jpg">
		</aside>
		
		
		<footer><p>Informacion de contacto:</p></footer>
		<footer><p>G-mail: lucasmontes5522@gmail.com </p></footer>