@charset "UTF-8";

body{
	background-color: #A2C8FB;
	line-height: 90%;
}
#encabezado{
	color: black;/*color de letra*/
	font: 100% fantasy;
	text-align: center;
}
.enlaces{
	text-align: left;
	font-family:  monospace;
	padding: 0px;
}
.links {
	line-height: 100%;
	word-spacing: 1px;/*espacio entre palabras*/
	letter-spacing: 0px;/* epsacio entre letras*/
	text-decoration: underline;/*Subrallado*/
}
.medio{
	background-color: #8EAFDC;
	padding: 0px;
	margin: 0px;
}	
.cuerpo{
	font: 100% cursive;
	line-height: 90%;
	background-color: #7F9CC4;
	padding: 0;
}
.subtitulo{
	
	
}
.dentro{
	
	
}





