@charset "UTF-8";

body{
	background-color: #FABEBD;
	line-height: 90%;
	margin: 0px;/*margenes del uadro rosa*/
}
#encabezado{
	color: black;/*color de letra*/
	font: 100% fantasy;
	text-align: center;
}
.enlaces{
	text-align: left;
	font-family:  monospace;
	padding: 0px;
}
.links {
	line-height: 100%;
	word-spacing: 1px;/*espacio entre palabras*/
	letter-spacing: 0px;/* epsacio entre letras*/
	text-decoration: none;/*Subrallado*/
}
.medio{
	background-color: #F8ED96;
	padding: 5px;/*Margenes en las lineas del cuadro central*/
	margin: 0px;/*margenes del cuadro central amarillo*/
}	
.cuerpo{
	font: 100% cursive;
	line-height: 90%;
	padding: 1px;
	margin: 0px;
}
.subtitulo{
	font-family: monospace;
	font-size: x-large;
	font-style: italic;
	text-decoration: underline;
}
.dentro{
	font-family: serif;
	font-size: medium;
}

.extra{
	background-color: #D0C97F;
}
.imagen{
	
	margin: 20%;
  	padding: 10%;
  	text-decoration: none;
  	
}
.imagenjava{
	height: 250px;
  	width: 450px;
}
.piepagina{
	font-family: serif;
	text-align: left;
}

